{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>Resonate - Homepage</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/icon.png' %}">

    <!-- Custom Stylesheet -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@600&display=swap"
        rel="stylesheet">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.css' %}">

</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <div class="container">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="oneMusicNav">

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="index.html"><img src="{% static 'img/logo.svg' %}" alt="alternative"></a>

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Mark</a> -->

            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item"><a href="{% url 'player' %}">Listen</a></li>
                        <li class="nav-item"><a href="{% url 'pricing' %}">Pricing</a></li>
                        <li class="nav-item"><a href="{% url 'support' %}">Support</a></li>
                        <li class="nav-item"><a href="https://resonate.is/join/">Join</a></li>
                        <li class="nav-item"><a href="#">Login</a></li>
                    </ul>
                <span class="nav-item social-icons">
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                </span>
            </div> <!-- end of navbar-collapse -->
            </nav></div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Services -->
    <div id="services" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Rewiring the music industry</h2>
                    <p class="p-heading">Resonate is building a new music economy based on fairness, transparency and cooperation.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <!-- Listeners -->
                <div class="col-lg-4">
                    <div class="text-box">
                            <!-- Icon Here -->
                            <div class="width-100p width-20p-m width-30p-l float-left-ns textalign-center">
                                <img src="https://resonate.is/wp-content/themes/manifesto/images/listeners-homeicon.png" class="homeicon">
                            </div>
                        <br>
                        <h4>For Listeners</h4>
                        <p>Resonate involves owning something of real value in a digital economy. It's also about resisting the urge to treat music as nothing more than audio wallpaper. About rediscovering and engaging music as art made by real humans.</p>
                        <p>Pay for what you play &#8212; it's cheaper.</p>
                        <!-- Button -->
                        <a class="btn-solid-lg page-scroll" href="https://resonate.is/stream2own/">Learn more about pricing</a>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
                <!-- Artists -->
                <div class="col-lg-4">
                    <div class="text-box">
                        <div class="width-100p width-20p-m width-30p-l float-left-ns textalign-center">
                            <img src="https://resonate.is/wp-content/themes/manifesto/images/artists-homeicon.png" class="homeicon">
                        </div>
                        <br>
                        <h4>For Artists</h4>
                        <p>This means owning their work, and owning their networks. Resonate is about fairness and control; we allow creators to set the terms on which to distribute their art.</p>
                        <!-- Button -->
                        <a class="btn-solid-lg page-scroll" href="https://resonate.is/more-profitable-for-musicians/">Learn how you'll earn</a>
                        <br>
                        <br>
                        <p>Global Community of co-creation - Artists, DJ's and Curators</p>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
                <!-- Industry -->
                <div class="col-lg-4">
                    <div class="text-box">
                        <div class="width-100p width-20p-m width-30p-l float-left-ns textalign-center">
                            <img src="https://resonate.is/wp-content/themes/manifesto/images/industry-homeicon.png" class="homeicon">
                        </div>
                        <br>
                        <h4>For Industry</h4>
                        <p>we are rewiring terms of business, transforming an industry that's currently based on exclusivity and inequity into one based on openness, transparency, and collaboration.
                        <br>Visit our forum</p>
                        <br>
                        <a class="btn-solid-lg page-scroll" href="http://community.resonate.is/">Join the conversation</a>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
                <!-- Everyone -->
                <div class="col-lg-4">
                    <div class="text-box">
                        <div class="width-100p width-20p-m width-30p-l float-left-ns textalign-center">
                            <img src="https://resonate.is/wp-content/themes/manifesto/images/everyone-homeicon.png" class="homeicon">
                        </div>
                        <br>
                        <h4>For Everyone</h4>
                        <p>this is about co-owning a platform. We think that this one-member, one-vote system gives everyone a voice, and supports the community in a crucial way.
                        <br>Why we're a co-op</p>
                        <br>
                        <!-- Button -->
                        <a class="btn-solid-lg page-scroll" href="https://resonate.is/the-coop/">Learn how we're different</a>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
                <!-- Right Reasons -->
                <div class="col-lg-4">
                    <div class="text-box">
                        <div class="width-100p width-20p-m width-30p-l float-left-ns textalign-center">
                            <img src="https://resonate.is/wp-content/themes/manifesto/images/manifesto-homeicon.png" class="homeicon">
                        </div>
                        <br>
                        <h4>For all the right reasons.</h4>
                        <p>This is the mission. This is our purpose.</p>
                        <a class="btn-solid-lg page-scroll" href="https://resonate.is/manifesto/">The Resonate Manifesto</a>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of services -->


    <!-- Why Section -->
	<div class="split">
		<div class="area-1">
		</div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Text Container -->
                        <div class="text-container">
                            <h2>Why</h2>
                            <p>As our networked world progressed, the way people listen to music changed drastically, resulting in an unsustainable model that can't support the industry ecosystem long-term. </p>
                            <p>STREAMING services wield too much power over discovery, and "big pool" methods of splitting royalties are unfair. Music has been turned into content, and fans into passive listeners.</p>
                            <p>INEQUITIES have been exacerbated. Power has been consolidated not in the hands of creators, but in those of dominant tech companies and major labels.</p>
                            <p>INEFFICIENCIES plague the music industry and often lead to slow, inaccurate royalty payouts.</p>
                            <p> PRIVACY is sorely lacking; fans often need to surrender personal information to stay informed.</p>
                            <p> CONTROL is needed by all. Artists should have a say in how their music is distributed, listeners should have control over how their data is used.</p>

                            <!-- images here
                            <div class="icons-container">
                                <img src="images/details-icon-photoshop.png" alt="alternative">
                                <img src="images/details-icon-illustrator.png" alt="alternative">
                                <img src="images/details-icon-html.png" alt="alternative">
                                <img src="images/details-icon-css.png" alt="alternative">
                                <img src="images/details-icon-bootstrap.png" alt="alternative">
                                <img src="images/details-icon-javascript.png" alt="alternative">
                            </div>end of icons-container -->
                        </div> <!-- end of text-container -->
                        <!-- end of text container -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
		</div> <!-- end of area-2 -->
    </div> <!-- end of split -->
    <!-- end of details -->


    <!-- How Section -->
    <div id="projects" class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <br>
                    <h2 class="h2-heading">How</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of projects -->

    <!-- Works -->
    <div class="basic-4">
        <div class="container">
            <div class="row">
                <!-- Co-Op -->
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img class="img-fluid" src="images/work-1.jpg" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p><b>THE CO-OPERATIVE</b> model fundamentally differentiates Resonate from other services. A one-member, one-share, one-vote system brings democracy to the platform, and gives all members a voice.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <!-- Stream2Own -->
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img class="img-fluid" src="images/work-2.jpg" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p><b>STREAM2OWN</b> is brand new model for listening. Splitting the cost of a digital download into 9 plays, it enables artists to get paid per play, and fans to own music again.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <!-- Privacy.. -->
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img class="img-fluid" src="images/work-3.jpg" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p><b>PRIVACY-RESPECTING IDENTITY</b> puts control back in the hands of users. Choose who your data is shared with and how; verify your identity without exposing sensitive information, or surveillance.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <!-- Storytelling -->
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img class="img-fluid" src="images/work-4.jpg" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p><b>STORYTELLING</b> is valued in our community: Both spoken and written word are rewarded in our ecosystem where micro-payments ensure that publishers have a source of revenue beyond ad-supported models.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <!-- C&S -->
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img class="img-fluid" src="images/work-5.jpg" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p><b>COLLABORATION and SOLIDARITY</b> with ethical partners in the wider independent music ecosystem. Standards-based open API’s and transparency will win. Musicians don’t compete; they collaborate.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <!-- OpenSource -->
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img class="img-fluid" src="images/work-6.jpg" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p><b>OPEN-SOURCE</b> fits naturally with our ethos of openness, collaboration and transparency. We'll work with anyone that shares our values and mission.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <!-- Ethics -->
                <div class="col-lg-12">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img class="img-fluid" src="images/work-6.jpg" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p><b>ETHICS</b> come first. We're considering the impact of everything that we do, from ensuring our operation is environmentally-friendly to making an effort to build an inclusive platform, globally, for communities disadvantaged by big streaming.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of works -->


    <!-- Testimonials -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">A few words from people that chose to work with me</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <p class="testimonial-text">“Mark is a skilled developer which will do everything possible to deliver the project on time and I really appreciate that”</p>
                            <div class="details">
                                <img src="images/testimonial-1.jpg" alt="alternative">
                                <div class="text">
                                    <div class="testimonial-author">Samantha Bloom</div>
                                    <div class="occupation">Team Leader - Syncnow</div>
                                </div> <!-- end of text -->
                            </div> <!-- end of testimonial-details -->
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <p class="testimonial-text">“Loved to work with Mark he's such an awesome developer with great attention to details. He also has a great eye for design”</p>
                            <div class="details">
                                <img src="images/testimonial-2.jpg" alt="alternative">
                                <div class="text">
                                    <div class="testimonial-author">John Rowling</div>
                                    <div class="occupation">Marketing Manager - Nexlite</div>
                                </div> <!-- end of text -->
                            </div> <!-- end of testimonial-details -->
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <p class="testimonial-text">“So glad we started working with Mark. We've used many times his design and development skills for our inhouse online projects”</p>
                            <div class="details">
                                <img src="images/testimonial-3.jpg" alt="alternative">
                                <div class="text">
                                    <div class="testimonial-author">Lana Smith</div>
                                    <div class="occupation">General Manager - Shifter</div>
                                </div> <!-- end of text -->
                            </div> <!-- end of testimonial-details -->
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of testimonials -->


    <!-- Section Divider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <hr class="section-divider">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
    <!-- end of section divider -->


    <!-- Questions -->
    <div class="accordion-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Frequent questions</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    How can I contact you and quickly get a quote for my online project?
                                </button>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    The best way to reach me is through the contact form of by messaging me on my social media accounts. For a fast quote make sure your provide many project details
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Do you create designs from the ground up or you are using themes?
                                </button>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    The best way to reach me is through the contact form of by messaging me on my social media accounts. For a fast quote make sure your provide many project details
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Will I receive any included maintenance or warranty after project delivery?
                                </button>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    The best way to reach me is through the contact form of by messaging me on my social media accounts. For a fast quote make sure your provide many project details
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    If something goes wrong with the project can I have my money back?
                                </button>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    The best way to reach me is through the contact form of by messaging me on my social media accounts. For a fast quote make sure your provide many project details
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    What's your preferred method of payment and do you need an advance?
                                </button>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">
                                    The best way to reach me is through the contact form of by messaging me on my social media accounts. For a fast quote make sure your provide many project details
                                </div>
                            </div>
                        </div>
                    </div> <!-- end of accordion -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of accordion-1 -->
    <!-- end of questions -->


    <!-- Contact -->
    <div id="contact" class="form-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Contact details</h2>
                    <p class="p-heading">For any type of online project please don't hesitate to get in touch with me. The fastest way is to send me your message using the following email <a class="blue no-line" href="#your-link">contact@domain.com</a></p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Contact Form -->
                    <form id="contactForm">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Name</label>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Project details</label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Submit</button>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of contact -->


    <!-- Footer -->
    <div class="footer bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="social-container">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-youtube fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> <!-- end of social-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © <a class="no-line" href="#your-link">Your name</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Distributed By <a class="no-line" href="https://themewagon.com/">Themewagon</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->

    </div> <!-- end of copyright -->
    <!-- end of copyright -->


            <!-- ##### Footer Area Start ##### -->
            <!-- jQuery 3.6.0 -->
            <script src="{% static 'js/jquery/jquery-3.6.0.js' %}"></script>

             <!-- jQuery Easing for smooth scrolling between anchors -->
            <script src="{% static  'js/jquery/jquery.easing.min.js' %}"></script>
            <!-- Bootstrap core JavaScript -->
            <script src="{% static  'js/bootstrap/popper.min.js' %}"></script>
            <script src="{% static  'js/bootstrap/bootstrap.bundle.min.js' %}"></script>

            <!-- Custom JS Scripts -->
            <script src="{% static  'js/scripts.js' %}"></script>

</body>
</html>