<!--To Fix: team images-->

{% extends 'base.html' %}
{% block content %}

    {% load static %}

    <!-- Projects -->
    <div id="projects" class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Meet the Team</h2>
                    <p class="p-heading">These are the minds behind enhancing the experience of Resonate.</p>
                    <!-- Button -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of projects -->


    <!-- Team Members -->
    <div class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img src="{% static 'img/bg-img/ariel.png' %}"
                                     alt="alternative" width="50" height="50">                            </a>
                        </a>
                        </div> <!-- end of image-container -->
                        <p><strong>Ariel Fainstain:</strong> Team Lead & Back End Manager</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img src="{% static 'img/bg-img/ade.png' %}"
                                     alt="alternative" width="50" height="50">                            </a>
                        </a>
                        </div> <!-- end of image-container -->
                        <p><strong>Adejsha Francis:</strong> Front End Engineer</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img src="{% static 'img/bg-img/sam.png' %}"
                                     alt="alternative" width="50" height="50">                            </a>
                        </a>
                        </div> <!-- end of image-container -->
                        <p><strong>Samuel Parker:</strong> Software Engineer</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img src="{% static 'img/bg-img/max.png' %}"
                                     alt="alternative" width="50" height="50">                            </a>
                        </a>
                        </div> <!-- end of image-container -->
                        <p><strong>Maxim Stroganov:</strong> Quality Assurance Engineer</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container">
                        <div class="image-container">
                            <a href="project.html">
                                <img src="{% static 'img/bg-img/gab.png' %}"
                                     alt="alternative" width="50" height="50">                            </a>
                        </a>
                        </div> <!-- end of image-container -->
                        <p><strong>Gabrielle White:</strong> API Engineer</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of works -->

{% endblock %}