{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <center>

                <a>Create A Track To Add To Playlist</a>
                <br />
                <form method='POST' id='myform'>
                    {% csrf_token %}
                    {{playlist_form.as_p}}
                    {{playlisttrack_form.as_p}}
                    {{playlisttag_form.as_p}}
                    {{playlistuser_form.as_p}}
                    {{playlistcountry_form.as_p}}
                    <input type='submit' value='Save' />
                </form>
            </center>
        </div>

    </div>
</div>





        {% endblock %}