{% load static %}
<!-- Custom Stylesheet -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb3.jpg' %});">
    <div class="bradcumbContent">
        <h2>Features</h2>
    </div>
</section>

<!-- BORDER IMAGE END***************************************** -->
<!-- ##### Album Catagory Area Start #####-->
<section class="album-catagory section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="browse-by-catagories catagory-menu d-flex flex-wrap align-items-center mb-70">
                    <a href="#" data-filter="*">Browse All</a>
                    <a href="#" data-filter=".a" class="active">A</a>
                    <a href="#" data-filter=".b">B</a>
                    <a href="#" data-filter=".c">C</a>
                    <a href="#" data-filter=".d">D</a>
                    <a href="#" data-filter=".e">E</a>
                    <a href="#" data-filter=".f">F</a>
                    <a href="#" data-filter=".g">G</a>
                    <a href="#" data-filter=".h">H</a>
                    <a href="#" data-filter=".i">I</a>
                    <a href="#" data-filter=".j">J</a>
                    <a href="#" data-filter=".k">K</a>
                    <a href="#" data-filter=".l">L</a>
                    <a href="#" data-filter=".m">M</a>
                    <a href="#" data-filter=".n">N</a>
                    <a href="#" data-filter=".o">O</a>
                    <a href="#" data-filter=".p">P</a>
                    <a href="#" data-filter=".q">Q</a>
                    <a href="#" data-filter=".r">R</a>
                    <a href="#" data-filter=".s">S</a>
                    <a href="#" data-filter=".t">T</a>
                    <a href="#" data-filter=".u">U</a>
                    <a href="#" data-filter=".v">V</a>
                    <a href="#" data-filter=".w">W</a>
                    <a href="#" data-filter=".x">X</a>
                    <a href="#" data-filter=".y">Y</a>
                    <a href="#" data-filter=".z">Z</a>
                    <a href="#" data-filter=".number">0-9</a>
                </div>
            </div>
        </div>

        <div class="row oneMusic-albums">

            <!-- Single Album-->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item t c p">
                <div class="single-album">
                    <img src={% static "img/bg-img/a1.jpg" %} alt="">
                    <div class="album-info">
                        <a href="#">
                            <h5>The Cure</h5>
                        </a>
                        <p>Second Song</p>
                    </div>
                </div>
            </div>

            <!-- Single Album-->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item s e q">
                <div class="single-album">
                    <img src={% static "img/bg-img/a2.jpg" %} alt="">
                    <div class="album-info">
                        <a href="#">
                            <h5>Sam Smith</h5>
                        </a>
                        <p>Underground</p>
                    </div>
                </div>
            </div>

            <!-- Single Album-->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item w f r">
                <div class="single-album">
                    <img src={% static "img/bg-img/a3.jpg" %} alt="">
                    <div class="album-info">
                        <a href="#">
                            <h5>Will I am</h5>
                        </a>
                        <p>First</p>
                    </div>
                </div>
            </div>

            <!-- Single Album-->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item t g u">
                <div class="single-album">
                    <img src={% static "img/bg-img/a4.jpg" %} alt="">
                    <div class="album-info">
                        <a href="#">
                            <h5>The Cure</h5>
                        </a>
                        <p>Second Song</p>
                    </div>
                </div>
            </div>

            <!-- Single Album-->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item d h v">
                <div class="single-album">
                    <img src={% static "img/bg-img/a5.jpg" %} alt="">
                    <div class="album-info">
                        <a href="#">
                            <h5>DJ SMITH</h5>
                        </a>
                        <p>The Album</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item t i x">
                <div class="single-album">
                    <img src={% static "img/bg-img/a6.jpg" %} alt="">
                    <div class="album-info">
                        <a href="#">
                            <h5>The Ustopable</h5>
                        </a>
                        <p>Unplugged</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item b j y">
                <div class="single-album">
                    <img src={% static "img/bg-img/a7.jpg" %} alt="">
                    <div class="album-info">
                        <a href="#">
                            <h5>Beyonce</h5>
                        </a>
                        <p>Songs</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item a k z">
                <div class="single-album">
                    <img src={% static "img/bg-img/a8.jpg" %} alt="">
                    <div class="album-info">
                        <a href="#">
                            <h5>Aam Smith</h5>
                        </a>
                        <p>Underground</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item w l number">
                <div class="single-album">
                    <img src={% static "img/bg-img/a9.jpg" %} alt="">
                    <div class="album-info">
                        <a href="#">
                            <h5>Will I am</h5>
                        </a>
                        <p>First</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item d m">
                <div class="single-album">
                    <img src={% static "img/bg-img/a10.jpg" %} alt="">
                    <div class="album-info">
                        <a href="#">
                            <h5>DJ SMITH</h5>
                        </a>
                        <p>The Album</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item t n">
                <div class="single-album">
                    <img src={% static "img/bg-img/a11.jpg" %} alt="">
                    <div class="album-info">
                        <a href="#">
                            <h5>The Ustopable</h5>
                        </a>
                        <p>Unplugged</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item b o">
                <div class="single-album">
                    <img src={% static "img/bg-img/a12.jpg" %} alt="">
                    <div class="album-info">
                        <a href="#">
                            <h5>Beyonce</h5>
                        </a>
                        <p>Songs</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<br />
<br />
<!--BUTTON HERE***************************************-->
            <<div class="row">
    <div class="col-12">
        <div class="load-more-btn text-center">
            <a href="#" class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
</div>
<br />
<br />
<!--TAG LIST***************************************-->
<div class="row justify-content-center">
    <div class="col-12 col-lg-9">
        <div class="ablums-text text-center mb-70">
        </div>
    </div>
</div>
<br />
<br />
<!--PRICE TAG**************************************-->
<div class="album-thumb">
    <img src="img/bg-img/ade.png" alt="">
    <!-- PRICE APPEARS IN UPPER LEFT CORNER OF IMG-->
    <div class="album-price">
        <p>$0.90</p>
    </div>
</div>
<section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img"
         style="background-image: url({% static 'img/bg-img/bg-2.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading white wow fadeInUp" data-wow-delay="100ms">
                    <h2>Be Part of the Future of Music</h2>
                    <p>Real Change Begins with You</p>
                    <br>
                    <!--BUTTON-->
                    <div class="oneMusic-buttons-area mb-100 align-items-center">
                        <a href="https://resonate.is/join/" class="btn oneMusic-btn m-2">
                            Join Now<i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12 col-md-6">
                <a href="#"><img src="{% static " img /core-img/logo.png" %}" alt=""></a>
                <p class="copywrite-text">
                    <a href="#">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>

            <div class="col-12 col-md-6">
                <div class="footer-nav">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'build_playlist' %}">Create</a></li>
                        <li><a href="{% url 'view_playlist' %}">View</a></li>
                        <li><a href="{% url 'team' %}">Team</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->
<!-- jQuery 3.6.0 -->
<script src="{% static 'js/jquery/jquery-3.6.0.js' %}"></script>

<!-- Bootstrap core JavaScript -->
<script src="{% static  'js/bootstrap/popper.min.js' %}"></script>
<script src="{% static  'js/bootstrap/bootstrap.bundle.min.js' %}"></script>

<!-- Custom JS Scripts -->
<script src="{% static  'js/plugins/plugins.js' %}"></script>
<script src="{% static  'js/active.js' %}"></script>