{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Django Playlist Builder">

    <!-- Webpage Title -->
    <title> {{ title }} </title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/icon.png' %}">

    <!-- Custom Styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@600&display=swap"
            rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.css' %}">

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.css' %}">


</head>

<body data-spy="scroll" data-target=".fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container">

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}"
                                                                         alt="alternative"></a>

        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Mark</a> -->

        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'player' %}">Listen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'support' %}">Support</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Listen</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item page-scroll" href="{% url 'build_playlist' %}">Build Playlist</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item page-scroll" href="{% url 'view_playlist' %}">View Playlist</a>
                    </div>
                </li>
            </ul>
            <span class="nav-item social-icons">
                    <span class="fa-stack">
                        <a href="https://github.com/Neologic-Audio">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x"></i>
                        </a>
                    </span>
                </span>
        </div> <!-- end of navbar-collapse -->
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
<!-- end of navigation -->


    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Support</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!--GENERAL INFO**************************************-->
    <section class="latest-albums-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-15">
                    <div class="featured-artist-content">
                        <p>
                            There are many different ways you can support the everyday work and ongoing development of Resonate co-op.
                        </p>
                        <p>Resonate must raise at least 20,000 euros by the end of March 2022 to keep pace with the Resonate Renewal and meet commitments to the tech team and essential workers.</p>
                        <p>The Resonate Renewal work that’s already completed includes – a new player with playlisting, embed and genre search functions, the development of the Resonate discourse forum, new stripe payment integration.</p>
                        <p>Next steps include automatic artist and label upload function, completely new website, new backend to handle metadata, accounting and payments for artists and the co-op, support for offline listening, catalog expansion, and much much more…</p>
                        <br><hr><br>
                        <!--SUBSECTION-->
                        <!--LINKED TO DONATE PG -->
                        <h2><a href="https://opencollective.com/resonate" target="_blank" rel="noopener">DONATE</a></h2>
                        <p>You can send us a donation using <a href="https://opencollective.com/resonate" target="_blank" rel="noopener">open collective</a> or a <a href="https://resonate.is/donate" target="_blank" rel="noopener">direct payment to our co-op</a>. Either a one off or as a regular supporter funding. All donations we receive in 2021 are going directly into the Resonate renewal, and funding our co-op workers.</p>
                        <!--SUBSECTION-->
                        <h2><a href="https://everpress.com/resonate-black-yellow-1" target="_blank" rel="noopener">BUY MERCH</a></h2>
                        <p>We have created our first Resonate T-shirt with Everpress and illustrator Bridget M. The first drop is an essential garment for supporters of Resonate and the worker coops cause. A classic white Tee with black/yellow “music ecosystem” illustration by Bridget M. By buying this Tee you are directly contributing to our Resonate renewal, the coops growth and stability, our mission to support and build a new music ecosystem.</p>
                        <!--SUBSECTION-->
                        <!--LINKED TO STREAM PG -->
                        <h2><a href="https://stream.resonate.coop" target="_blank" rel="noopener">LISTEN ON RESONATE</a></h2>
                        <p>Choosing to listen to music on Resonate instead of corporate streaming-services sustains and grows the coop. Buy listening credits to directly support the artists you love and the coop. If you share what you are listening to on your social media, you directly spread the word and work of the coop. Thank you!</p>
                        <!--SUBSECTION-->
                        <!-- LINKED TO JOIN/MEMBERSHIP PG -->
                        <h2><a href="https://resonate.is/join/membership/" target="_blank" rel="noopener">BECOME A MEMBER OF THE COOP</a></h2>
                        <p>If you aren’t already a member of the coop, please consider joining today. It costs 10€ a year to be a member of the coop. If you are an artist or label, you are eligible to become a coop member once you have uploaded a track to the platform.</p>
                        <!-- LINKED TO LOGIN PG -->
                        <h2><a href="https://resonate.is/join/additional-supporter-shares/" target="_blank" rel="noopener">BUY SUPPORTER SHARES</a></h2>
                        <p>Buy supporter shares from as little as 25 euros up to 100,000 euros! Buying supporter shares is a way to keep supporting the co-op beyond your initial membership contribution.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--LOGIN SECTION************************************** -->
    <section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img"
             style="background-image: url({% static 'img/bg-img/bg-2.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading white wow fadeInUp" data-wow-delay="100ms">
                        <h2>Be Part of the Future of Music</h2>
                        <p>Real Change Begins with You</p>
                        <br>
                        <!--BUTTON-->
                        <div class="oneMusic-buttons-area mb-100 align-items-center">
                            <a href="https://resonate.is/join/" class="btn oneMusic-btn m-2">
                                Join Now<i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
</br>
    <div class="footer bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a class="nav-item" href="{% url 'index' %}">Home</a> -
                    <a class="nav-item" href="{% url 'about' %}">About</a> -
                    <a class="nav-item" href="{% url 'build_playlist' %}">Create</a> -
                    <a class="nav-item" href="{% url 'view_playlist' %}">View</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->

    <!-- Copyright -->
    <div class="copyright bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2022 <a class="no-line"
                            href="https://github.com/Neologic-Audio/">NeoLogic Audio</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Distributed By <a class="no-line" href="https://themewagon.com/">Themewagon</a>
                    </p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->

    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- ##### Footer Area Start ##### -->
    <!-- jQuery 3.6.0 -->
    <script src="{% static 'js/jquery/jquery-3.6.0.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static  'js/bootstrap/bootstrap.bundle.js' %}"></script>
    <script src="{% static  'js/bootstrap/popper.min.js' %}"></script>

    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static  'js/jquery/jquery.easing.min.js' %}"></script>
    <!-- Custom JS Scripts -->
    <script src="{% static  'js/scripts.js' %}"></script>
</body>

</html>