{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Django Playlist Builder">

    <!-- Webpage Title -->
    <title>Team</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.png' %}">

    <!-- Custom Styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@600&display=swap"
            rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.css' %}">

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.css' %}">


</head>


<body data-spy="scroll" data-target=".fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container">

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"
                                                                         alt="alternative"></a>

        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Mark</a> -->

        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'team' %}">Team</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'player' %}" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Listen</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item page-scroll" href="{% url 'build_playlist' %}">Build Playlist</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item page-scroll" href="{% url 'view_playlist' %}">View Playlist</a>
                    </div>
                </li>
            </ul>
            <span class="nav-item social-icons">
                    <span class="fa-stack">
                        <a href="https://github.com/Neologic-Audio">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x"></i>
                        </a>
                    </span>
                </span>
        </div> <!-- end of navbar-collapse -->
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
<!-- end of navigation -->

<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>Team</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<!-- Projects -->
<div id="projects" class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Meet the Team</h2>
                <p class="p-heading">These are the minds behind enhancing the experience of Resonate users
                    by allowing them to search for the most popular tracks for each tag/genre. This search algorithm
                    helps users to discover new songs and improve the variety in a customized
                    playlist. Users will be able to build a custom playlist using these recommendations tailored
                    towards their taste in similar tracks.</p>
                <p class="p-heading">This application will be on an easy-to-use and visually appealing site that
                    will be
                    available to
                    users either locally through our GitHub repository</p>

                <!-- Testimonials -->
                <div class="cards-1 offset-1">
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="details">
                                <img src="{% static 'img/team/ariel.jpg' %}" alt="Ariel Fainstain">
                                <div class="text">
                                    <div class="testimonial-author">Ariel Fainstain</div>
                                    <div class="occupation">Project Lead/Database Manager</div>
                                </div> <!-- end of text -->
                            </div> <!-- end of testimonial-details -->
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="details">
                                <img src="{% static 'img/team/ade.jpg' %}" alt="Adejsha Francis">
                                <div class="text">
                                    <div class="testimonial-author">Adejsha Francis</div>
                                    <div class="occupation">Front End Engineer</div>
                                </div> <!-- end of text -->
                            </div> <!-- end of testimonial-details -->
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="details">
                                <img src="{% static 'img/team/sam.png' %}" alt="Samuel Parker">
                                <div class="text">
                                    <div class="testimonial-author">Samuel Parker</div>
                                    <div class="occupation">Back End Engineer</div>
                                </div> <!-- end of text -->
                            </div> <!-- end of testimonial-details -->
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="details">
                                <img src="{% static 'img/team/max.jpg' %}" alt="Max Stroganov">
                                <div class="text">
                                    <div class="testimonial-author">Max Stroganov</div>
                                    <div class="occupation">Quality Assurance Engineer</div>
                                </div> <!-- end of text -->
                            </div> <!-- end of testimonial-details -->
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="details">
                                <img src="{% static 'img/team/gab.jpg' %}" alt="Gabrielle White">
                                <div class="text">
                                    <div class="testimonial-author">Gabrielle White</div>
                                    <div class="occupation">Full Stack Engineer</div>
                                </div> <!-- end of text -->
                            </div> <!-- end of testimonial-details -->
                        </div>
                    </div>
                    <!-- end of card -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of testimonials -->
</div>

<!-- Footer -->
</br>
<div class="footer bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a class="nav-item" href="{% url 'index' %}">Home</a> -
                <a class="nav-item" href="{% url 'about' %}">About</a> -
                <a class="nav-item" href="{% url 'team' %}">Team</a> -
                <a class="nav-item" href="{% url 'player' %}">Search</a> -
                <a class="nav-item" href="{% url 'build_playlist' %}">Create</a> -
                <a class="nav-item" href="{% url 'view_playlist' %}">Listen</a> -
                <a class="nav-item" href="https://github.com/Neologic-Audio/reso-neo-playlist/issues">Help</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->

<!-- Copyright -->
<div class="copyright bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © 2022 <a class="no-line"
                                                       href="https://github.com/Neologic-Audio/">NeoLogic
                    Audio</a></p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->


<!-- ##### Footer Area Start ##### -->
<!-- jQuery 3.6.0 -->
<script src="{% static 'js/jquery/jquery-3.6.0.js' %}"></script>

<!-- Bootstrap core JavaScript -->
<script src="{% static  'js/bootstrap/popper.min.js' %}"></script>
<script src="{% static  'js/bootstrap/bootstrap.bundle.min.js' %}"></script>

<!-- jQuery Easing for smooth scrolling between anchors -->
<script src="{% static  'js/jquery/jquery.easing.min.js' %}"></script>
<!-- Custom JS Scripts -->
<script src="{% static  'js/scripts.js' %}"></script>

</body>

</html>